@import "theme";

.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: $margin;
    width: 90%;
    margin: auto;
    @media screen and (max-width: 600px) {
        font-size: 0.8rem;
        display:block;
        margin:auto;
        text-align: center;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
}

.griditem{
    display: grid;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr 0.2fr 0.2fr 0.1fr;

    div{
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    button{
        width: 90%;
        height: 30px;
        text-align: center;
        background-color: black;
        color:white;
        margin:$margin;
        transition: all 0.4 ease;
        border: none;
    }

    button:hover{
        background-color: $color-blue;
        color:white;
    }

    p{
        margin: 0;
        padding: 0;
    }

}

.description{
    position: relative;
    height: 150px;
    overflow: hidden;
    @media screen and (max-width: 600px) {
 
        height: 65px;
    }
}   

.bannerimage{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    opacity: 1;
    transition: all 0.4s ease;
}
.mainbannerimage{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
}

.bannerimage:hover{
    opacity: 0.6;
}

.introtext{
    text-align: center;
    width: 90%;
    margin:auto;
    font-weight: 400;
    margin-bottom: 5%;
}

.singlecamp{
    width: 90%;
    margin:auto;

    h2{
        text-align: center;
        font-size: 3rem;
    }
}