$color-focus: rgb(172,50,76);
$color-red: #A63C4F;
$color-blue: #396999;
$color-green: #728C4A;
$color-purple: #8B3B8C;
$color-gray-white: rgb(230,230,230);
$color-gray-light: rgb(41,41,41);
$color-gray-medium: rgb(18,18,18);
$color-gray-dark: rgb(10,10,10);

$margin: 8px;
$padding: 8px;